<a href="https://colab.research.google.com/github/VineethaThumalapalli/Movie_Recommendation/blob/main/Movie_Recommendation_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Movie Recommendation System

---

#Import Library

In [1]:
import pandas as pd
import numpy as np

#Import Dataset

In [2]:
df = pd.read_csv('/content/Movie Recommendation.csv')

In [3]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [5]:
df.shape

(4760, 21)

In [6]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

#Get Feature Selection

In [7]:

df_features=df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast',
                'Movie_Director']].fillna('')

In [8]:
df_features.shape

(4760, 5)

In [9]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [10]:
X=df_features['Movie_Genre']+''+df_features['Movie_Keywords']+''+df_features['Movie_Tagline']+''+df_features['Movie_Cast']+''+df_features['Movie_Director']

In [11]:
X

0       Crime Comedyhotel new year's eve witch bet hot...
1       Adventure Action Science Fictionandroid galaxy...
2       Animation Familyfather son relationship harbor...
3       Comedy Drama Romancevietnam veteran hippie men...
4       Dramamale nudity female nudity adultery midlif...
                              ...
4755    HorrorThe hot spot where Satan's waitin'.Lisa ...
4756    Comedy Family DramaIt’s better to stand out th...
4757    Thriller Dramachristian film sex traffickingSh...
4758                                               Family
4759    Documentarymusic actors legendary perfomer cla...
Length: 4760, dtype: object

In [12]:
X.shape

(4760,)

#Get Feature Text Conversion To Tokens

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
X=tfidf.fit_transform(X)
X.shape

(4760, 27466)

In [14]:
print(X)

  (0, 1028)	0.16196019146631543
  (0, 24785)	0.1954632929283795
  (0, 15844)	0.14205053053187272
  (0, 15553)	0.17099186675469502
  (0, 2132)	0.18002354204307464
  (0, 13312)	0.09914387783149516
  (0, 1887)	0.14106037409792174
  (0, 1216)	0.13920306109638164
  (0, 21158)	0.14205053053187272
  (0, 24701)	0.11357423942624927
  (0, 14943)	0.091376722056839
  (0, 18098)	0.06200430666985742
  (0, 26738)	0.175053052455033
  (0, 9790)	0.08712552095655665
  (0, 26675)	0.1116831168780693
  (0, 13401)	0.13748876529263096
  (0, 24105)	0.10726395493180996
  (0, 18192)	0.07278761942152372
  (0, 6172)	0.11970212451073885
  (0, 9626)	0.11757910435818826
  (0, 11960)	0.20134029899961134
  (0, 12801)	0.1530338818199682
  (0, 2292)	0.1954632929283795
  (0, 15172)	0.1537691763994982
  (0, 18196)	0.08579029869987485
  :	:
  (4757, 1839)	0.19327629083107672
  (4757, 5410)	0.19734759150400596
  (4757, 11350)	0.21582294886514122
  (4757, 22017)	0.1646400247918531
  (4757, 17789)	0.18881341937258544
  (4757, 9484)	0.1411164779725638
  (4757, 14176)	0.2330831990045816
  (4757, 11762)	0.17321388936472645
  (4757, 14052)	0.1776312353410007
  (4757, 24232)	0.10947784435203887
  (4757, 24746)	0.09744940789814222
  (4757, 13079)	0.12400374714145113
  (4757, 17721)	0.1489085353667712
  (4758, 8651)	1.0
  (4759, 18229)	0.33527342183765224
  (4759, 22434)	0.33527342183765224
  (4759, 18841)	0.33527342183765224
  (4759, 6950)	0.33527342183765224
  (4759, 345)	0.31978160936741457
  (4759, 14742)	0.31978160936741457
  (4759, 12139)	0.2778063685558062
  (4759, 4446)	0.282306565154911
  (4759, 17552)	0.3087899934962816
  (4759, 9955)	0.21805075638656476
  (4759, 2285)	0.21465229435984196

#Get Similarity Score Using Cosine Similarity

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
Similarity_Score =cosine_similarity(X)

In [17]:
Similarity_Score

array([[1.        , 0.01438634, 0.03807033, ..., 0.        , 0.        ,
        0.        ],
       [0.01438634, 1.        , 0.00844858, ..., 0.        , 0.        ,
        0.        ],
       [0.03807033, 0.00844858, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [18]:
Similarity_Score.shape

(4760, 4760)

#Get Movie Name as Input from User and Validte for Closet Spelling

In [22]:
Favourit_Movie_Name=input('Enter Your favourite movie name:')

Enter Your favourite movie name:iron man

In [23]:
All_Movies_Title_List=df['Movie_Title'].tolist()

In [24]:
import difflib

In [25]:
Movie_Recommendation=difflib.get_close_matches(Favourit_Movie_Name, All_Movies_Title_List)
print(Movie_Recommendation)

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [26]:
Close_Match = Movie_Recommendation[0]
print(Close_Match)

Iron Man

In [27]:
index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(index_of_Close_Match_Movie)

568

In [ ]:
Recommendation_Score = list(enumerate(Similarity_Score[index_of_Close_Match_Movie]))
print(Recommendation_Score)

In [29]:
len(Recommendation_Score)

4760

#Get All Movies Sort Based On Recommendation Score wrt Favourite Movie

In [ ]:
Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)
print(Sorted_Similar_Movies)

In [31]:
print('Top 30 Movies Suggested for you : \n')
i=1
for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index = df[df.index==index]['Movie_Title'].values[0]
  if(i<31):
    print(i, '.', title_from_index)
    i+=1

Top 30 Movies Suggested for you :

1 . The Forbidden Kingdom
2 . The Mummy: Tomb of the Dragon Emperor
3 . The One
4 . War
5 . Cradle 2 the Grave
6 . Hero
7 . The Warlords
8 . Warriors of Virtue
9 . Shanghai Noon
10 . Curse of the Golden Flower
11 . Resident Evil: Retribution
12 . Young Sherlock Holmes
13 . Superman IV: The Quest for Peace
14 . Romeo Must Die
15 . The Monkey King 2
16 . Crazy Stone
17 . The Spy Next Door
18 . The Legend of Drunken Master
19 . Gods of Egypt
20 . Without a Paddle
21 . Rush Hour 3
22 . Unleashed
23 . Rush Hour 2
24 . The Tuxedo
25 . Kiss of the Dragon
26 . Kung Fu Panda
27 . The Medallion
28 . The Promise
29 . Red State
30 . Hannibal Rising

#Top 10 Movie Recommendation System

In [32]:
Movie_Name = input ('Enter your favourite movie name : ')
list_of_all_titles = df['Movie_Title'].tolist()
Find_Close_Match = difflib.get_close_matches(Movie_Name, list_of_all_titles)
Close_Match = Find_Close_Match[0]
Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Movie]))
Sorted_Similar_movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse= True)
print('Top 10 Movies suggested for you : \n')
i=1
for movie in Sorted_Similar_movies:
  index = movie[0]
  title_from_index = df[df.Movie_ID==index]['Movie_Title'].values
  if (i<11):
    print(i,'.',title_from_index)
    i+=1

Enter your favourite movie name : iron man
Top 10 Movies suggested for you :

1 . ['Iron Man']
2 . ['The Mummy Returns']
3 . ['Robin and Marian']
4 . ['Hackers']
5 . ['Mr. Nice Guy']
6 . ['Blade Runner']
7 . ['Out Cold']
8 . ['Lady in White']
9 . ['Little Voice']
10 . ['Miss Congeniality']